In [1]:
import pandas as pd

In [2]:
csv_path = "purchase_data.csv"
purchase_data = pd.read_csv(csv_path)

purchase_data.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

In [3]:
#Total number of players
total_players = purchase_data["Gender"].value_counts()
total_players.head()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [4]:
#Total number of items
unique_items = len(purchase_data['Item Name'].unique())
unique_items

179

In [5]:
#Average item purchase price
average_price = purchase_data['Price'].mean()
average_price

2.931192307692303

In [6]:
#Total number of purchases
total_purchases = purchase_data['Price'].count()
total_purchases

780

In [7]:
#Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2286.33

In [8]:
purchase_analysis = pd.DataFrame({"Total Number of Unique Items" : [unique_items],
                                  "Average Price" : [average_price],
                                  "Number of Purchases" : [total_purchases],
                                  "Total Revenue" : [total_revenue]})
purchase_analysis.head()

,Average Price,Number of Purchases,Total Number of Unique Items,Total Revenue
0,2.931192,780,179,2286.33

In [9]:
# Count male/female/other players

grouped_gender = purchase_data.groupby(['Gender'])




total_gender = grouped_gender['Gender'].value_counts()

male_players = grouped_gender['Gender'].value_counts()['Male']
female_players = grouped_gender['Gender'].value_counts()['Female']
other_players = grouped_gender['Gender'].value_counts()['Other / Non-Disclosed']


male_percentage = (male_players/total_gender) * 100
female_percentage = (female_players/total_gender) * 100
other_percentage = (other_players/total_gender) * 100

grouped_gender.count().head()

                        SN  Age  Item ID  Item Name  Price
Gender
Female                 136  136      136        136    136
Male                   633  633      633        633    633
Other / Non-Disclosed   11   11       11         11     11

In [10]:
#Male only dF

male_data = purchase_data.loc[purchase_data['Gender'] == "Male",:]
male_data.head()

#Female only

female_data = purchase_data.loc[purchase_data['Gender'] == "Female",:]
female_data.head()

#Other only
other_data = purchase_data.loc[purchase_data['Gender']== "Other / Non-Disclosed",:]
other_data.head()


other_purchases = other_data['Item Name'].count()
other_purchases

other_avg_price = other_data['Price'].mean()
other_avg_price

other_total_value = other_data['Price'].sum()
other_total_value

other_normalized =  other_total_value / other_purchases
other_normalized


female_purchases = female_data['Item Name'].count()
female_purchases

female_avg_price = female_data['Price'].mean()
female_avg_price

female_total_value = female_data['Price'].sum()
female_total_value

female_normalized =  female_total_value / female_purchases
female_normalized



male_purchases = male_data['Item Name'].count()
male_purchases

male_avg_price = male_data['Price'].mean()
male_avg_price

male_total_value = male_data['Price'].sum()
male_total_value

male_normalized =  male_total_value / male_purchases
male_normalized

2.950521327014218

In [11]:
#Age demographics

age_min = purchase_data['Age'].min()
age_min

age_max = purchase_data['Age'].max()
age_max


#Age binning

bins =[0, 10, 14, 19, 23, 27, 31, 35, 39, 43, 47, 48]

group_names = ['<10', '11-14', '15-19', '20-23', '24-27', '28-31','32-35','36-39','40-43', '44-47', '48+']

pd.cut(purchase_data["Age"], bins, labels=group_names)

purchase_data['Age Demographics'] = pd.cut(purchase_data["Age"], bins, labels=group_names)

age_demographics = purchase_data.groupby('Age Demographics')

age_demographics.count().head()

                   SN  Age  Gender  Item ID  Item Name  Price
Age Demographics
<10                32   32      32       32         32     32
11-14              31   31      31       31         31     31
15-19             133  133     133      133        133    133
20-23             266  266     266      266        266    266
24-27             169  169     169      169        169    169

In [12]:
purchase_count= age_demographics["Price"].count()
purchase_count

Age Demographics
<10       32
11-14     31
15-19    133
20-23    266
24-27    169
28-31     60
32-35     42
36-39     30
40-43     16
44-47      1
48+        0
Name: Price, dtype: int64

In [13]:
avg_price = age_demographics['Price'].mean()
avg_price

Age Demographics
<10      3.019375
11-14    2.702903
15-19    2.905414
20-23    2.877105
24-27    3.017870
28-31    2.956667
32-35    3.110476
36-39    2.746000
40-43    3.189375
44-47    2.720000
48+           NaN
Name: Price, dtype: float64

In [14]:
total_purchase = age_demographics['Price'].sum()
total_purchase

Age Demographics
<10       96.62
11-14     83.79
15-19    386.42
20-23    765.31
24-27    510.02
28-31    177.40
32-35    130.64
36-39     82.38
40-43     51.03
44-47      2.72
48+        0.00
Name: Price, dtype: float64

In [15]:
normalized_totals = age_demographics['Price'].mean()
normalized_totals

Age Demographics
<10      3.019375
11-14    2.702903
15-19    2.905414
20-23    2.877105
24-27    3.017870
28-31    2.956667
32-35    3.110476
36-39    2.746000
40-43    3.189375
44-47    2.720000
48+           NaN
Name: Price, dtype: float64

In [16]:
popular = purchase_data["Item Name"].value_counts()
popular

Final Critic                                    14
Arcane Gem                                      11
Betrayal, Whisper of Grieving Widows            11
Stormcaller                                     10
Trickster                                        9
Serenity                                         9
Retribution Axe                                  9
Woeful Adamantite Claymore                       9
Crucifer                                         8
Bonecarvin Battle Axe                            8
Splitter, Foe Of Subtlety                        8
Darkheart                                        8
Crying Steel Sickle                              8
Conqueror Adamantite Mace                        8
Brimstone                                        7
Torchlight, Bond of Storms                       7
Victor Iron Spikes                               7
Alpha                                            7
Persuasion                                       7
Blade of the Grave                               7
Feral Katana                                     7
Darkheart, Butcher of the Champion               7
Extraction, Quickblade Of Trembling Hands        7
Wolf, Promise of the Moonwalker                  7
Spectral Diamond Doomblade                       7
Alpha, Oath of Zeal                              7
Warmonger, Gift of Suffering's End               6
Sleepwalker                                      6
Amnesia                                          6
Celeste                                          6
                                                ..
Blood-Forged Skeletal Spine                      2
Warped Fetish                                    2
Tranquility, Razor of Black Magic                2
Foul Titanium Battle Axe                         2
Freak's Bite, Favor of Holy Might                2
Dreamsong                                        2
Worldbreaker                                     2
Warped Iron Scimitar                             2
Oathbreaker, Last Hope of the Breaking Storm     2
Fusion Pummel                                    2
Renewed Skeletal Katana                          2
Winter's Bite                                    2
Blazefury, Protector of Delusions                2
Emberling, Defender of Delusions                 2
Vindictive Glass Edge                            2
Yearning Crusher                                 2
Exiled Mithril Longsword                         1
Downfall, Scalpel Of The Emperor                 1
Splinter                                         1
Phantomlight                                     1
Bloodlord's Fetish                               1
Flux, Destroyer of Due Diligence                 1
Ghastly Adamantite Protector                     1
Hellreaver, Heirloom of Inception                1
Exiled Doomblade                                 1
Foul Edge                                        1
Soul-Forged Steel Shortsword                     1
Sun Strike, Jaws of Twisted Visions              1
Verdict                                          1
Lightning, Etcher of the King                    1
Name: Item Name, Length: 179, dtype: int64

In [17]:
top_spenders = purchase_data.groupby("SN")["Item ID"].count()
top_spenders

total_value = purchase_data.groupby("SN")["Price"].sum()
total_value


average_price = purchase_data.groupby("SN")["Price"].mean()
average_price

df_top = pd.DataFrame({"Purchase Count":top_spenders,
                       "Average Purchase Price":average_price,
                      "Total Purchase Value":total_value})
df_top= df_top.sort_values("Total Purchase Value", ascending= False)
df_top.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

In [20]:
popular_count = purchase_data.groupby("Item ID")["Item ID"].count()
popular_count

total_p_value = purchase_data.groupby("Item ID")["Price"].sum()
total_p_value
price_popular = purchase_data.groupby("Item ID")["Price"].mean()


df_popular = pd.DataFrame({
                          "Purchase Count":popular_count,
                          "Total Purchase Value": total_p_value,
                          "Item Price":price_popular })

df_popular= df_popular.sort_values("Purchase Count", ascending= False)
df_popular.head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
39             2.35              11                 25.85
84             2.23              11                 24.53
31             2.07               9                 18.63
175            1.24               9                 11.16
13             1.49               9                 13.41

In [23]:
most_profitable= purchase_data.groupby("Item ID")["Item ID"].count()

total_profit_value = purchase_data.groupby("Item ID")["Price"].sum()

price_profitable = purchase_data.groupby("Item ID")["Price"].mean()

df_profitable = pd.DataFrame({"Purchase Count":most_profitable,
                             "Total Purchase Value": total_profit_value,
                             "Item Price":price_profitable})
df_profitable = df_profitable.sort_values("Total Purchase Value", ascending= False)
df_profitable.head()

         Item Price  Purchase Count  Total Purchase Value
Item ID
34             4.14               9                 37.26
115            4.25               7                 29.75
32             4.95               6                 29.70
103            4.87               6                 29.22
107            3.61               8                 28.88